.App {
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%; /* لضمان العرض الكامل */
  overflow-x: hidden; /* منع التمرير الأفقي */
  box-sizing: border-box; /* احتساب الـ padding ضمن العرض */
}